In [21]:
students={'name' : 'John Cena',
          'class' : '2nd',
          'roll no' : 21,
          'marks' : 90}
print(students)

{'name': 'John Cena', 'class': '2nd', 'roll no': 21, 'marks': 90}

to access values there are 2 methods

In [22]:
#list method
print(students['name'])
print(students['class'])

John Cena
2nd

In [23]:
#2nd method
print(students.get('name'))
print(students.get('class'))

John Cena
2nd

In [24]:
#to add items in dictionary
students['school']='SKD'
students['Fathers name']='Sam'
print(students)

{'name': 'John Cena', 'class': '2nd', 'roll no': 21, 'marks': 90, 'school': 'SKD', 'Fathers name': 'Sam'}

In [25]:
#to print only keys
for key in students:
    print(key)

name
class
roll no
marks
school
Fathers name

In [26]:
#to print key and value both
for k,v in students.items():
    print(f'{k} : {v}')

name : John Cena
class : 2nd
roll no : 21
marks : 90
school : SKD
Fathers name : Sam

In [27]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'class', 'roll no', 'marks', 'school', 'Fathers name'])
dict_values(['John Cena', '2nd', 21, 90, 'SKD', 'Sam'])
dict_items([('name', 'John Cena'), ('class', '2nd'), ('roll no', 21), ('marks', 90), ('school', 'SKD'), ('Fathers name', 'Sam')])

In [28]:
raj_dict={'English' : 67,
          'Hindi' : 90,
          'Maths' : 37,
          'Science' : 75,
          'Social Science' : 30
}
print(raj_dict)

{'English': 67, 'Hindi': 90, 'Maths': 37, 'Science': 75, 'Social Science': 30}

In [29]:
company={
    'emp01' : {
        'name' : 'John',
        'age' : 25,
        'designation' : 'Team Leader',
        'salary' : 32000
    },
    'emp02' : {
        'name' : 'Raj',
        'age' : 30,
        'designation' : 'Developer',
        'salry' : 35000
    },
    'emp03' : {
        'name' : 'Sam',
        'age' : 31,
        'designation' : 'Associate',
        'salary' : 30000
    }
}
print(company)

{'emp01': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp02': {'name': 'Raj', 'age': 30, 'designation': 'Developer', 'salry': 35000}, 'emp03': {'name': 'Sam', 'age': 31, 'designation': 'Associate', 'salary': 30000}}

In [30]:
company['emp04']= {
     'name' : 'Anjali',
        'age' : 30,
        'designation' : 'Developer',
        'salry' : 31000
}
print(company)

{'emp01': {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, 'emp02': {'name': 'Raj', 'age': 30, 'designation': 'Developer', 'salry': 35000}, 'emp03': {'name': 'Sam', 'age': 31, 'designation': 'Associate', 'salary': 30000}, 'emp04': {'name': 'Anjali', 'age': 30, 'designation': 'Developer', 'salry': 31000}}

In [31]:
print(company.keys())
print(company.values())

dict_keys(['emp01', 'emp02', 'emp03', 'emp04'])
dict_values([{'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}, {'name': 'Raj', 'age': 30, 'designation': 'Developer', 'salry': 35000}, {'name': 'Sam', 'age': 31, 'designation': 'Associate', 'salary': 30000}, {'name': 'Anjali', 'age': 30, 'designation': 'Developer', 'salry': 31000}])

In [33]:
for k,v in company.items():
    print(f"{k} : {v}")

emp01 : {'name': 'John', 'age': 25, 'designation': 'Team Leader', 'salary': 32000}
emp02 : {'name': 'Raj', 'age': 30, 'designation': 'Developer', 'salry': 35000}
emp03 : {'name': 'Sam', 'age': 31, 'designation': 'Associate', 'salary': 30000}
emp04 : {'name': 'Anjali', 'age': 30, 'designation': 'Developer', 'salry': 31000}